:root{
    --stockStatus: #E09789;
    --cardTextColor: rgba(0, 0, 0, 0.7);
    --cardColor:white;
  }
  
  
  
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
    .cardContainer {
      width: 345px;
      margin: 10px;
      border-radius: 10px;
      transition-property: background-color, box-shadow, transform;
      transition-duration: 500ms;
      outline: solid #cbd5e1 2px;
      background-color: var(--cardColor);
    }
    
    .cardContainer:hover {
      box-shadow: 1px 1px 10px 0px rgb(22 21 23);
      transform: scale(1.05);  
      
    }
  
    
    
    .imageContainer {
      width: 100%;
      border-radius: 10px;
    }
    .img1 {
      border-radius: 10px;
      width: 100%;
  
    }
    
    
    
    .content {
      padding-left: 25px;
      font-family: "Exo 2", serif;
      font-weight: bolder;
    }
    .formatContainer {
      display: flex;
      height: 30px;
    
      align-items: center;
    }
    .flowerName {
      color: var(--cardTextColor);
    }
    .priceValue{
      font-weight: bold;
    }
    .reviewAndAvalibilityContainer {
      display: flex;
      justify-content: space-between;
      padding-right: 30px;
    }
    .review {
      font-weight: lighter;
    }
    .availabityStatus {
      color: var(--stockStatus);
      font-weight: 400;
    }
    