.aboutContainer {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background-color: #c8dbd7;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .aboutContent {
    font-size: 1rem;
    line-height: 1.8;
    color:#3c5556;
  }
  
  .aboutContent h1 {
    font-size: 1.8rem;
    margin-top: 30px;
    color: #3c5556;
    font-weight: bold;
  }
  
  .aboutContent ul {
    margin-top: 15px;
    padding-left: 20px;
  }
  
  .aboutContent li {
    margin-bottom: 10px;
    list-style-type: disc;
  }
  
  @media (max-width: 768px) {
    .aboutContainer {
      margin: 20px;
      padding: 20px;
    }
  
    .aboutContent h1 {
      font-size: 1.5rem;
    }
  
    .aboutContent {
      font-size: 0.95rem;
    }
  }
  